<div id="wrapper">
    <!-- Header -->
    <header>
        <img src="../assets/logo.svg" alt="Trackly" id="logo">
        <ul class="list-inline" id="user-nav">
            <li class="list-inline-item">
                <img style="border-radius:50%; margin-top:-2px;" src="../assets/avatar.jpg" height="30" alt="">
            </li>
            <li class="list-inline-item">
                <a href="#" (click)="logOut()">Log out</a>
            </li>
        </ul>
    </header>
    <!-- / Header -->

    <!-- Content -->
    <section id="content" class="p-0">
        <div id="timer">
            <!-- Timer clock -->
            <div class="timer-clock">
                <h3>{{currentSession|timeDuration}}</h3>
                <small>Total time today</small>
            </div>
            <!-- / Timer clock -->

            <!-- Wokspaces button -->
            <div class="timer-button">
                <div ngbDropdown placement="bottom-right" class="d-inline-block">
                    <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                        {{ activeWorkspace?.title }}
                    </button>
                    <div ngbDropdownMenu class="dropdown-menu">
                        <button (click)="changeWorkspace(ws)" *ngFor="let ws of workspaces"
                                class="dropdown-item btn-sm">{{ws.title}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- / Workspaces button -->
        </div>

        <!-- Projects -->
        <div id="projects">
            <div *ngFor="let project of projects" class="project" [ngClass]="{'active': project === activeProject }">
                <i (click)="startTimer(project)"
                   [ngClass]="'fa fa-play-circle project-button'">
                </i>
                <h3 class="project-title">{{project.title}}</h3>
                <h3 class="project-timer">{{perProject[project.id] | timeDuration}}</h3>
            </div>
        </div>
        <!-- / Projects -->
    </section>
    <!-- / Content -->

    <!-- Footer -->
    <footer>
        <div class="footer-sync">
            <i class="fa fa-fw fa-refresh"></i> Updated sometime ago bruh
        </div>
        <div class="footer-session">
            <i class="fa fa-fw fa-clock-o"></i> Current session ({{currentSession}})
        </div>
    </footer>
    <!-- / Footer -->
</div>