<div id="wrapper">
    <!-- Header -->
    <header class="py-0">
        <img src="../assets/logo.svg" alt="Trackly" id="logo">
        <ul class="list-inline" id="user-nav">
            <li class="list-inline-item">
                <figure class="avatar avatar--sm">
                    <div class="initials">{{generateInitials()}}</div>
                </figure>
            </li>
            <li class="list-inline-item">
                <a href="#" (click)="openPrefs()">
                  <img src="../assets/baseline_settings_white_24dp.png" alt="Chart Logo" />
                </a>
            </li>
        </ul>
        <div class="d-none">
          <a href="#" id="outOfLogging" (click)="logOut()">
            Logout
          </a>
        </div>
    </header>
    <!-- / Header -->

    <!-- Content -->
    <section id="content" class="p-0" *ngIf="user">
        <div id="timer">
            <!-- Timer clock -->
            <div class="timer-clock">
                <h3>{{totalIimeToday | timeDuration}}</h3>
                <small>Total time today</small>
            </div>
            <!-- / Timer clock -->

            <!-- Wokspaces button -->
            <div class="timer-button">
              <button (click)="openDashboard()" class="btn p-0 btn-primary btn-sm"><img src="../assets/baseline_bar_chart_white_24dp.png" alt="Chart Logo"/><span> Dashboard </span></button>
              <div *ngIf="workspaces?.length === -1" ngbDropdown placement="bottom-right" class="d-inline-block">
                  <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                      {{ activeWorkspace?.title }}
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                      <button (click)="changeWorkspace(ws)" *ngFor="let ws of workspaces" class="dropdown-item btn-sm">{{ws.title}}
                      </button>
                  </div>
                </div>
            </div>
            <!-- / Workspaces button -->
        </div>

        <!-- Projects -->
        <div *ngIf="user?.people[0].timeTracking && projects?.length" id="projects">
            <div *ngFor="let project of projects" class="project" [ngClass]="{'active': project.id === activeProject?.id }">
                <i (click)="trackProject(project)"
                   [id]="project.id"
                    class="fa project-button"
                    [ngClass]="{'fa-play-circle':project.id != activeProject?.id,
                                'fa-stop-circle': project.id == activeProject?.id}">
                </i>
                <h3 class="project-title">{{project.title}}</h3>
                <h3 class="project-timer">{{perProject[project.id]|timeDuration}}</h3>
            </div>
        </div>
        <!-- / Projects -->
        <div id="noTracking" class="p-4" *ngIf="!user?.people[0].timeTracking">
          <div>
              Tracking is currently not enabled. Please contact the owner of the workspace.
          </div>
        </div>
    </section>
    <!-- / Content -->
    <!-- newVersion -->
    <div id="newVersion" class="d-none" (click)="appRestart()">
      Update available, restart now.
    </div>
    <!-- / newVersion -->
    <!-- Footer -->
    <footer>
        <div class="footer-sync">
          <i (click)="refreshWorkSpace()" class="fa fa-fw fa-2x fa-refresh mr-1 clickable"></i>
          <div id="tooltip" class="pb-2 pt-1 px-2">
            Refresh Workspace
          </div>
          <span>{{lastSynced|sincePipeline}}</span>
        </div>
        <div class="footer-session">
          <i class="fa fa-fw fa-2x fa-clock-o mr-1"></i>
          <span>Session &mdash; {{currentSession|timeDuration}}</span>
        </div>
    </footer>
    <!-- / Footer -->

    <!--idler-->
    <div id="idler" class="p-2 d-none" [ngStyle]="{'min-height.px': idleHeight}">
      <div class="idle-header px-1">
        <div class="propmt"> &nbsp;Idle Notification </div>
      </div>

      <div class="idle-body d-none bg-light p-3 text-center">
        <div class="text-center mb-2">
          Add time to:
        </div>
        <select id="assignProject" (change)="selectChange($event)" class="text-center">
          <option *ngFor="let project of projects" class="p-1" value="{{project.title}}" selected="{{project.title === activeProjectCache.title}}">
            {{project.title}}
          </option>
        </select>
        <div class="mt-4 pb-2 text-center">
          <button id="reAssign-button" class="btn rounded-0 btn-sm px-5 btn-primary" (click)="reAssignIdleTime()"> &nbsp;&nbsp;&nbsp; Add time &nbsp;&nbsp;&nbsp;&nbsp; </button>
        </div>
        <div class="mb-3 text-center">
          <button id="reAssign" class="btn btn-sm rounded-0 px-5 btn-primary" (click)="toggleAssigner()"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cancel &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </button>
        </div>
      </div>

      <div [hidden]="reAssign" class="idle-body bg-light p-2">
        <div class="mb-3">
          <!-- <div class="text-center mb-1">You have been idle since {{idleHour}}:{{idleMinutes}}{{idleMode}}</div> -->
          <div class="text-center mb-1">You have been idle since {{IdleFrom}}</div>
          <div class="text-center mb-3"> ({{idleTime}} minutes) </div>
          <div class="text-center mb-3">Tracked project: {{currentIdleProject}}</div>
        </div>

        <div class="py-2">
          <div class="pt-1 text-center">
            <button id="idle-button" class="btn btn-sm rounded-0 px-5 btn-primary" (click)="closeIdleAndTrack()"> &nbsp;Keep time&nbsp;&nbsp;&nbsp; </button>
          </div>
          <div class="pt-1 text-center">
            <button id="idle-butto" class="btn btn-sm rounded-0 px-5 btn-primary" (click)="closeIdleTime()"> Discard time </button>
          </div>
          <div class="pt-1 d-none mb-2 text-center">
            <button id="idle-buttn" class="btn btn-sm rounded-0 px-4 btn-primary" (click)="toggleAssigner()"> Add time to project </button>
          </div>
        </div>
      </div>
    </div>
    <!-- / idler -->
</div>