<div id="wrapper">
    <!-- Header -->
    <header>
        <img src="../assets/logo.svg" alt="Trackly" id="logo">
        <ul class="list-inline" id="user-nav">
            <li *ngIf="workspaces?.length == 1" class="list-inline-item">
                <figure class="avatar avatar--sm">
                    <div class="initials">{{generateInitials()}}</div>
                </figure>
            </li>
            <li class="list-inline-item">
                <a href="#" (click)="logOut()">Log out</a>
            </li>
        </ul>
    </header>
    <!-- / Header -->

    <!-- Content -->
    <section id="content" class="p-0" *ngIf="user">
        <div id="timer">
            <!-- Timer clock -->
            <div class="timer-clock">
                <h3>{{totalIimeToday | timeDuration}}</h3>
                <small>Total time today</small>
            </div>
            <!-- / Timer clock -->

            <!-- Wokspaces button -->
            <div class="timer-button">
                <button (click)="openDashboard()" class="btn btn-primary btn-sm"><i class="fa fa-home"></i></button>
                <button *ngIf="workspaces?.length == -1" class="btn btn-sm btn-outline-primary">{{activeWorkspace.title}}</button>
                <div *ngIf="workspaces?.length > 1" ngbDropdown placement="bottom-right" class="d-inline-block">
                  <button class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                      {{ activeWorkspace?.title }}
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                      <button (click)="changeWorkspace(ws)" *ngFor="let ws of workspaces" class="dropdown-item btn-sm">{{ws.title}}
                      </button>
                  </div>
                </div>
            </div>
            <!-- / Workspaces button -->
        </div>

        <!-- Projects -->
        <div *ngIf="user?.people[0].timeTracking && projects?.length" id="projects">
            <div *ngFor="let project of projects" class="project" [ngClass]="{'active': project === activeProject }">
                <i (click)="trackProject(project)"
                   [id]="project.id"
                    class="fa project-button"
                    [ngClass]="{'fa-play-circle':project != activeProject,
                                'fa-stop-circle': project == activeProject}">
                </i>
                <h3 class="project-title">{{project.title}}</h3>
                <h3 class="project-timer">{{perProject[project.id]|timeDuration}}</h3>
            </div>
        </div>
        <!-- / Projects -->
        <div id="noTracking" class="p-4" *ngIf="!user?.people[0].timeTracking">
          <div>
              Tracking is currently not enabled. Please contact the owner of the workspace.
          </div>
        </div>
    </section>
    <!-- / Content -->

    <!-- Footer -->
    <footer>
        <div class="footer-sync">
            <i class="fa fa-fw fa-history mr-1"></i>{{lastSynced|sincePipeline}}
        </div>
        <div class="footer-session">
            <i class="fa fa-fw fa-clock-o mr-1"></i>Session &mdash; {{currentSession|timeDuration}}
        </div>
    </footer>
    <!-- / Footer -->
</div>