<div class="container-fluid" id="dialog">

  <div class="row bg-light">
    <div class="col-12 propmt"> Idle Propmt </div>
  </div>

  <div id="idle" [hidden]="hidden">
    <div class="row mt-2 mb-3">
      <div class="col-12">
        You Have been idle for <span id="minutes">{{minutes}}</span> minutes
      </div>
      <div class="col-12">
        Project: &nbsp;&nbsp; <span id="name">{{projectName}}</span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        <input id="check" #checkbox type="checkbox" />
        <label for="check"> Keep idle time</label>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-4 pt-1">
        <button class="btn btn-sm btn-light" (click)="reassignClick()"> Reassign idle time </button>
      </div>
      <div class="col-8 pt-1 text-right">
        <button class="btn btn-sm btn-light" (click)="stopClick(checkbox.checked)">Stop</button>
        <button class="btn btn-sm btn-light" (click)="continueClick(checkbox.checked)">Continue</button>
      </div>
    </div>
  </div>

  <div id="reassign" [hidden]="!hidden">
    <div class="row mt-2 mb-4">
      <div class="col-12">
        Reassign Idle Time To:
      </div>
    </div>

    <div class="row mt-2 mb-4">
      <label class="col-2" for="selector">Project:</label>
      <div class="col-7">
        <select class="" #select id="selector"></select>
      </div>
    </div>

    <div class="row py-3">
      <div class="col-12 pt-1 text-right">
        <button class="btn btn-sm btn-light" (click)="cancelClick()">Cancel</button>
        <button class="btn btn-sm btn-light" (click)="assignClick(select.value)">Assign</button>
      </div>
    </div>
  </div>



</div>
